@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
/* navbar section start */
.navbar-container{
    max-width: 90rem;
    margin: 0 auto;
    background: linear-gradient(180.00deg,  rgb(17, 17, 17),rgb(34, 34, 34),rgb(17, 17, 17) 100%);
}

.navbar-content{
    max-width: 72.25rem;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 3.55rem 3rem 2rem 3rem;
    /* border: 2px solid red; */
}

.navbar-div-1>h3{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.2rem;
    font-weight: 800;
}

.navbar-div-2{
    width: 29rem;
}

.navbar-div-2>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: .25rem;
    
}
.navbar-div-2>ul>li{
    list-style-type: none;
    margin: 0 1rem 0 0;
}

.navbar-div-2>ul>li>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 400;
}

.colored-list-item{
    border-radius: 46px;
    padding: .5rem 1.2rem;
    background: rgb(230, 83, 60);
}

.sidebar{
    display: none;
}
.sidebar>div{
    width: 2rem;
    height: .2rem;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
}

/* navbar section end */
/* banner section start */
.banner-container{
    max-width: 72.25rem;
    margin: 0 auto;
}
.banner-content{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    /* flex: 1; */
}

.banner-content-div{
    width: 32.5rem;
    height: 100%;
    /* border: 2px solid red; */
    /* height: 27.5rem; */
}
.banner-content-div>h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.875rem;
    font-weight: 900;
}

.banner-content-div>h1>span{
    font-family: Dancing Script
    ;
}

.banner-content-div>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin-top: 1.8rem;
}

.banner-content-div>div{
    margin-top: 1.8rem;
}

.banner-btn-1{
    width: 190px;
    height: 54px;
    padding: 8px 20px;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    background: rgb(230, 83, 60);
    border: none;
   
}
.banner-btn-2{
    width: 190px;
    height: 54px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4rem;
    border-radius: 42px;
    padding: 8px 20px;
    background-color: rgba(119, 119, 119, 0);
    margin-left: 8px;
    
}

.banner-img-div-container{
    width: 536px;
    display: flex;
    /* border: 2px solid red; */
    justify-content: right;
    margin-top: 48px;
}

.banner-img-div{
    width: 21.8rem;
    /* border: 2px solid red; */
    height: 36.20rem;
    position: relative;
}

.banner-img-div>img{
    height: 100%;
    width: 100%;
    position: absolute;
}

.tutorial-div{
    width: 12.87rem;
    height: 6rem;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    top: 26.3rem;
    left: -7.05rem;
    display: flex;
    align-items: center;
}

.workout-div{
    width: 12.05rem;
    height: 6.12rem;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    top: 7.8rem;
    left: 14.4rem;
}

.elips{
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgb(230, 83, 60) ;
    border: none;
    border-radius: 50%;
    margin-left: 1.5rem;
}
.tutorial-div-content{
    margin-left: .5rem;
}
.tutorial-div-content>h3{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 1.5rem;
}
.tutorial-div-content>p{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 1rem;
    margin-top: .5rem;
}

.workout-div{
    padding: 1rem;
}
.workout-div>h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
}
.workout-div>p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: .9rem;
    margin-top: .2rem;

}

/* banner section end */






/* BMI section start */
.BMI-section-container{
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(34, 34, 34);
}
.BMI-section-content{
    max-width: 1060px;
    display: flex;
    gap: 175px;
    border: 2px solid red;
}
.chart-container{
    margin: 52px 0 0 0;
}
.chart-container>table{
    border: 2px solid red;
    border-collapse: collapse;
    max-width: 310px;
    height: 216px;
    font-size: 14px;
    margin-top: 52px;
}
.chart-container h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;  
}

.input-form{
    margin-top: 34px;
}
.chart-container td{
    padding: 13px 0 15px 18px;
    border: 2px solid red;  
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    text-align: left;
    padding-left: 24px;
}
.chart-container th{
    padding: 15px 0 15px 18px;
    border: 2px solid red;  
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    text-align: left;
    padding-left: 24px;
}

.calculator-container{
    max-width: 577px;
    height: 386px;
    margin: 52px 0;
    border: 2px solid red;  
}

.calculator-container h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
}
.calculator-container p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    margin-top: 14px;
}

.input-form input,select{
    width: 282.5px;
    height: 48px;
    padding: 12px 40px 12px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    margin: 6px 0;
}
.input-form>.activity{
    max-width: 577px;
}

.calculator-container-btn{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    border: none;
    margin: 34px 0px 0 0;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
}

/* BMI section end */



/* habit section start */
.habit-section-container{
    max-width: 1044px;
    height: 452px;
    margin: 0 auto;
}
.habit-section-container h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    text-align: center;
}
.habit-section-container p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    margin-top: 14px;
}

.habit-section-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 54px;
    border: 2px solid red;
}

.habit-section-div h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    text-align: center;
    margin-top: 26px;
}
.habit-section-div>div>p{
    margin-top: 6px;
}
.habit-section-div>div>div{
    text-align: center;
    height: auto;
}
.habit-section-div img{
    width: 188px;
    height: auto;
    border: 3px solid rgb(34, 34, 34);
    border-radius: 50%;
}

/* habit section end */

/* Run section start */
.run-section-container{
    max-width: 1060px;
    height: 371px;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.run-content-section{
    margin-left: 52px;
    max-width: 366px;
}
.run-content-section h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
}
.run-content-section p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    margin-top: 14px;
}
.run-content-section button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    margin-top: 34px;
    cursor: pointer;
}

.running-image{
    width: 366px;
    height: 312px;
    margin-right: 32px;
}
.running-image img{
    border-radius: 18px;
    height: 100%;
    width: 100%;
    border: none;
}

/* Run section end */







/* resposive for mobile */
@media screen and (max-width:576px) {
    /* header section start */
    .banner-content{
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        justify-content: center;
        align-items: center;
        /* flex: 1; */
    }
    .navbar-div-2{
        display: none;
    }
    .sidebar{
        display: grid;
        grid-template-columns: 1fr;
    }
    .workout-div{
        top: 47px;
        left: 194px;
        width: 170px;
        height: 100px;
    }
    .tutorial-div{
        top: 271px;
        left: 12px;
    }
    .navbar-container{
        width: 100%;
        padding: .8rem;
    }
    .navbar-content{
        padding: 3.55rem 0rem 2rem 0rem;
    }
    .banner-content{
        padding: 0rem;
    }
    .banner-img-div-container{
        width: 100%;
        display: flex;
        /* border: 2px solid red; */
        justify-content: center;
    }
    .banner-content-div{
        width: 100%;
        height: 100%;
        /* border: 2px solid red; */
        /* height: 27.5rem; */
    }
    .banner-btn-1{
        width: 160px;
        height: 54px;
        padding: 8px 20px;
        margin: 0;
    }
    .banner-btn-2{
        width: 170px;
        height: 54px;
        padding: 8px 20px;
        margin-left: 8px;
    }
    .hidden{
        display: none;
    }
     .banner-img-div{
        width: 363px;
        height: 598px;
        /* border: 2px solid red; */
        position: relative;
    } 

    /* header section end */




    /* BMI section start */
    .BMI-section-container{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(34, 34, 34);
    }
    .BMI-section-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid red;
        margin-left: 20px;
    }

    .calculator-container{
        max-width: 577px;
        height: 386px;
        margin: -30px 0 0 0;
        border: 2px solid red;  
    }
    .chart-container{
        margin: 0 0 0 0;
    }
    /* BMI section end */
  


    /* habit section start */
    .habit-section-container{
        max-width: 1044px;
        height: auto;
        margin: 0 auto;
    }
    .habit-section-div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        margin-top: 58px;
        border: 2px solid red;
    }
    /* habit section end */


    /* Run section start */
    .run-section-container{
        max-width: 1060px;
        height: 100%;
        margin: 0 auto;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 35px 33px;
    }
    .running-image{
        width: 366px;
        height: auto;
        padding:0;
        margin: 30px 0 0 0;

    }
    .run-content-section{
        max-width: 366px;
        padding:0;
        margin: 0;
    }
    .run-content-section button{
        width: 100%;
    }
    /* Run section end */
}
