@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
button{
    cursor: pointer;
}
/* navbar section start */
.navbar-container{
    max-width: 90rem;
    margin: 0 auto;
    background: linear-gradient(180.00deg,  rgb(17, 17, 17),rgb(34, 34, 34),rgb(17, 17, 17) 100%);
}

.navbar-content{
    max-width: 72.25rem;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 3.55rem 3rem 2rem 3rem;
    /* border: 2px solid red; */
}

.navbar-div-1>h3{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.2rem;
    font-weight: 800;
}

.navbar-div-2{
    width: 29rem;
}

.navbar-div-2>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: .25rem;
    
}
.navbar-div-2>ul>li{
    list-style-type: none;
    margin: 0 1rem 0 0;
}

.navbar-div-2>ul>li>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 400;
}

.colored-list-item{
    border-radius: 46px;
    padding: .5rem 1.2rem;
    background: rgb(230, 83, 60);
}

.sidebar{
    display: none;
}
.sidebar>div{
    width: 2rem;
    height: .2rem;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
}

/* navbar section end */
/* banner section start */
.banner-container{
    max-width: 72.25rem;
    margin: 0 auto;
}
.banner-content{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    /* flex: 1; */
}

.banner-content-div{
    max-width: 32.5rem;
    height: 100%;
    /* border: 2px solid red; */
    /* height: 27.5rem; */
}
.banner-content-div>h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.875rem;
    font-weight: 900;
}

.banner-content-div>h1>span{
    font-family: Dancing Script
    ;
}

.banner-content-div>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin-top: 1.8rem;
}

.banner-content-div>div{
    margin-top: 1.8rem;
}

.banner-btn-1{
    width: 190px;
    height: 54px;
    padding: 8px 20px;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    background: rgb(230, 83, 60);
    border: none;
   
}
.banner-btn-2{
    width: 190px;
    height: 54px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4rem;
    border-radius: 42px;
    padding: 8px 20px;
    background-color: rgba(119, 119, 119, 0);
    margin-left: 8px;
    
}

.banner-img-div-container{
    width: 536px;
    display: flex;
    /* border: 2px solid red; */
    justify-content: right;
    margin-top: 48px;
}

.banner-img-div{
    width: 21.8rem;
    /* border: 2px solid red; */
    height: 36.20rem;
    position: relative;
}

.banner-img-div>img{
    height: 100%;
    width: 100%;
    position: absolute;
}

.tutorial-div{
    width: 12.87rem;
    height: 6rem;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    top: 26.3rem;
    left: -7.05rem;
    display: flex;
    align-items: center;
}

.workout-div{
    width: 11.5rem;
    height: 6.12rem;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    top: 7.8rem;
    right: -60%;
}

.elips{
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgb(230, 83, 60) ;
    border: none;
    border-radius: 50%;
    margin-left: 1.5rem;
}
.tutorial-div-content{
    margin-left: .5rem;
}
.tutorial-div-content>h3{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 1.5rem;
}
.tutorial-div-content>p{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 1rem;
    margin-top: .5rem;
}

.workout-div{
    padding: 1rem;
}
.workout-div>h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
}
.workout-div>p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: .9rem;
    margin-top: .2rem;

}

/* banner section end */


/* BMI heading section start */
.bmi-heading-container{
    max-width: 691px;
    height: 150px;
    margin: 58px auto 68px auto; 
    padding: 20px; 
}
.bmi-heading-container h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
}
.bmi-heading-container p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    margin-top: 14px;
}
/* BMI heading section end */



/* BMI section start */
.BMI-section-container{
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(34, 34, 34);
    padding: 20px;
}
.BMI-section-content{
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
    gap: 175px;
    /* border: 2px solid red; */
}
.chart-container{
    margin: 52px 0 0 0;
}
.chart-container>table{
    /* border: 2px solid red; */
    border-collapse: collapse;
    max-width: 315px;
    height: auto;
    font-size: 14px;
    margin-top: 32px;
}
.chart-container h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;  
}

.input-form{
    margin-top: 34px;
}
option{
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(34, 34, 34);  
}
.chart-container td{
    padding: 13px 10px 15px 15px;
    border: 3px solid rgba(255, 255, 255, 0.1);  
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    text-align: left;
    padding-left: 24px;
}
.chart-container th{
    padding: 15px 10px 15px 15px;
    border: 3px solid rgba(255, 255, 255, 0.1);  
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    text-align: left;
    padding-left: 24px;
}

.calculator-container{
    max-width: 577px;
    height: auto;
    margin: 32px 0;
    /* border: 2px solid red;   */
}

.calculator-container h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
}
.calculator-container p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    margin-top: 14px;
    
}

.input-form input,select{
    width: 49%;
    height: 48px;
    padding: 12px 40px 12px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    margin: 6px 0;
}
.input-form>.activity{
    width: 99%;
}

.calculator-container-btn{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    border: none;
    margin: 34px 0px 0 0;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
}

/* BMI section end */



/* habit section start */
.habit-section-container{
    max-width: 1044px;
    height: 452px;
    margin: 0 auto;
    margin-top: 100px;
}
.habit-section-container h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    text-align: center;
}
.habit-section-container p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    margin-top: 14px;
}

.habit-section-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 54px;
    /* border: 2px solid red; */
}

.habit-section-div h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    text-align: center;
    margin-top: 26px;
}
.habit-section-div>div>p{
    margin-top: 6px;
}
.habit-section-div>div>div{
    text-align: center;
    height: auto;
}
.habit-section-div img{
    width: 188px;
    height: auto;
    border: 3px solid rgb(34, 34, 34);
    border-radius: 50%;
}

/* habit section end */

/* Run section start */
.run-section-container{
    max-width: 1060px;
    height: 371px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.run-content-section{
    margin-left: 54px;
    max-width: 366px;
}
.run-content-section h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
}
.run-content-section p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    margin-top: 14px;
}
.run-content-section button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    margin-top: 34px;
    cursor: pointer;
}

.running-image{
    width: 366px;
    height: 312px;
    margin-right: 32px;
}
.running-image img{
    border-radius: 18px;
    height: 100%;
    width: 100%;
    border: none;
    object-fit:none;
    object-position: 66% 33%;
}

/* Run section end */

/* Training section start */
.training-section-container{
    max-width: 1060px;
    height: 581px;
    margin: 0 auto;
    margin-top: 100px;
}
.training-section-container h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    text-align: left;
    margin-top: 100px;
}
.training-section-container p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    text-align: left;
    margin-top: 14px;
}
.image-gallary{
    max-width: 1060px;
    height: 380px;
    margin-top: 58px;
}
.image-gallary>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-gallary img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
}
.image-gallary-1{
    height: 190px;
    width: 25%;
    background:  rgba(6, 255, 210, 0.5);
}
.image-gallary-2{
    height: 190px;
    width: 45%;
    background:  rgba(255, 0, 0, 0.3);
}
.image-gallary-3{
    height: 190px;
    width: 30%;
    background:  rgba(0, 0, 0, 0.5);
}
.image-gallary-4{
    height: 190px;
    width: 40%;
    background:  rgba(0, 0, 0, 0.5);
}
.image-gallary-5{
    height: 190px;
    width: 25%;
    background:  rgba(66, 255, 0, 0.3);
}
.image-gallary-6{
    height: 190px;
    width: 35%;
    background:  rgba(0, 71, 255, 0.3);
}
/* Training section end */




/* Meet section start */
.meet-section-container{
    max-width: 1060px;
    height: 782px;
    margin: 88px auto 0 auto;
}
.meet-section-container h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    text-align: center;
}
.meet-section-container>p{
    margin-top: 14px;
}
.meet-section-container p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    text-align: center;

}
.meet-section-div{
    max-width: 1060px;
    height: 604px;
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}
.meet-section-div>div{
    max-width: 326.67px;
    height: 272px;
    position: relative;
}
.meet-section-div>div>img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}
.meet-section-div h3{
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
}
.meet-section-div p{
    position: absolute;
    bottom: 30px;
    left: 20px;
}
/* Meet section end */

/* Equipment section start */

.web-dev-section{
    max-width: 1440px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
    height: auto;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 35px;
}
.web-dev-section h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    text-align: center;
    
}
.web-dev-section>div{
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    /* border: 2px solid red; */
    margin-top: 30px;
}
.image-part{
    width: 250px;
    height: 200px;
    margin-right: 25px;
    /* border: 2px solid red; */
}
.image-part img{
    border-radius: 18px;
    height: 100%;
    width: 100%;
    border: none;
    object-fit:cover;
    
}
.content-part{
    margin-left: 25px;
    width: 55%;
}
.content-part h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    text-align: left;
}
.content-part p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    margin-top: 14px;
    text-align: left;
}
#content2{
    width: 65%;
    margin-right: 25px;
}
#img2{
    margin-left: 25px; 
}

/* Equipment section end */


/* footer section start */
.footer-container{
    max-width: 1440px;
    height: 489px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-top: 88px;
}
.footer-content{
    max-width: 1065px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 66px 5px 0 5px;

}
.footer-div-1 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    margin-top: 20px;
}
.footer-div-2 h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
}
.footer-div-3 h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    
}
.footer-div-2 a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.5);
     font-family: Inter;
     font-size: 23px;
     margin-top: 20px;
}
.footer-div-3 a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.5);
     font-family: Inter;
     font-size: 23px;
}
.footer-div-2>div {
    margin-top: 40px;
}
.footer-div-2>div>div{
    margin-top: 20px;
}
.footer-div-3>div {
    margin-top: 40px;
}
.footer-div-3>div>div{
    margin-top: 20px;
}

.footer-container hr{
    max-width: 1040px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 80px auto 0 auto;

}
.footer-container>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
}
/* footer section end */










/* resposive for mobile */
@media screen and (max-width:576px) {
    /* header section start */
    .navbar-container{
        width: 100%;
        height: auto;
    }
    .navbar-container h1{
        font-size: 48px;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        justify-content: center;
        align-items: center;
    }
    .banner-container{
        padding: 20px;
        padding-bottom: 0px;
        width: 100%;
        height: auto;
    }
    .navbar-div-2{
        display: none;
    }
    .sidebar{
        display: grid;
        grid-template-columns: 1fr;
    }
    .workout-div{
        top: 47px;
        left: 60%;
        width: 130px;
        height: 74.09px;
        padding: 15px;
    }
    .workout-div p{
        font-size: 9.83px;
    }
    .workout-div h2{
        font-size: 30.24px;
    }
    .tutorial-div{
        width: 150px;
        height: 72.58px;
        top: 271px;
        left: 12px;
        padding: -10px;
    }
    .tutorial-div p{
        font-size: 9.83px;
    }
    .navbar-container{
        width: 100%;
        /* padding: 20px; */
    }
    .navbar-content{
        padding: 20px;
    }
    .banner-content{
        padding: 0rem;
    }
    .banner-img-div-container{
        width: 100%;
        display: flex;
        /* border: 2px solid red; */
        justify-content: center;
    }
    .banner-content-div{
        width: 100%;
        height: 100%;
        /* border: 2px solid red; */
        /* height: 27.5rem; */
    }
    .banner-btn-1{
        width: 46%;
        height: 54px;
        padding: 8px 10px;
        margin: 0;
        margin-right: 10px;
    }
    .banner-btn-2{
        width:49%;
        height: 54px;
        padding: 8px 10px;
        margin-left: 0px;
    }
    .hidden{
        display: none;
    }
     .banner-img-div{
        width: 363px;
        height: 598px;
        /* border: 2px solid red; */
        position: relative;
    } 

    /* header section end */




    /* BMI section start */
    .BMI-section-container{
        max-width: 576px;
        height: auto;
        margin: 0 auto;
        background: rgb(34, 34, 34);
        padding: 0;
        padding-top: 30px;
    }
    .BMI-section-content{
        width: 90%;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 2px solid red; */
        margin-left: 20px;
    }
    .chart-container{
        margin: 0;
    }

    .calculator-container{
        max-width: 576px;
        height: auto;
        margin-top: -50px;
        /* border: 2px solid red;   */
    }
   
    /* BMI section end */
  


    /* habit section start */
    .habit-section-container{
        max-width: 1044px;
        height: auto;
        margin: 0 auto;
        padding: 20px;
    }
    .habit-section-div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        margin-top: 58px;
    }
    /* habit section end */


    /* Run section start */
    .run-section-container{
        max-width: 576px;
        height: auto;
        margin:66px 20px 0 20px ;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }
    .running-image{
        width: 90%;
        height: auto;
        padding:0;
        margin: 30px 0 0 0;

    }
    .run-content-section{
        width: 90%;
        padding:0;
        margin: 0;
    }
    .run-content-section button{
        width: 90%;
    }
    .running-image img{
        border-radius: 18px;
        height: 100%;
        width: 100%;
        border: none;
        object-fit:cover;
        margin-bottom: 10px;
    }
    /* Run section end */

    /* meet section start */
    .meet-section-container{
        max-width: 576px;
        height: auto;
        margin: 66px auto 0 auto;
        /* padding: 20px; */
    }
    .meet-section-div{
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 58px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        /* padding: 20px; */
    }
    .meet-section-div>div{
        width: 100%;
        height: 272px;
        position: relative;
    }
    /* meet section end */

    /* Training section start */
    .training-section-container{
        max-width: 576px;
        height: auto;
        margin: 0 auto;
        padding: 20px;
    }
    
    .image-gallary-1{
        height: 190px;
        width: 55%;
        background:  rgba(6, 255, 210, 0.5);
    }
    .image-gallary-2{
        height: 190px;
        width: 45%;
        background:  rgba(255, 0, 0, 0.3);
    }
    .image-gallary-3{
        visibility: hidden;
        width: 0%;
    }
    .image-gallary-4{
        height: 190px;
        width: 45%;
        background:  rgba(0, 0, 0, 0.5);
    }
    .image-gallary-5{
        height: 190px;
        width: 55%;
        background:  rgba(66, 255, 0, 0.3);
    }
    .image-gallary-6{
        visibility: hidden;
        width: 0%;
    }
    /* Training section end */

    /* equipment section start*/
    .web-dev-section>div{
        max-width: 1060px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 18px;
        /* border: 2px solid red; */
        margin-top: 30px;
    }
    .content-part{
        margin-left: 0;
        width: 100%;
    }
    #content2{
        width: 100%;
        margin-right:0;
    }
    #img2{
        margin: 0 auto;
    }
    .image-part{
        width: 100%;
        height:250px;
        margin: 35px;
        text-align: center;
        /* border: 2px solid red; */
    }
    .image-part img{
        border-radius: 18px;
        width: 100%;
        height: 100%;
        border: none;
        object-fit:cover;
        
    }
    /* equipment section end*/
 


    /* footer section start */
    .footer-container{
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 45px 20px 55px 20px;
        margin-top: 66px;
    }
    .footer-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 0;
    
    }
    /* footer section end */
}






/* resposive for tab */
@media screen and (max-width:992px){
    .navbar-container{
        width: 100%;
        height: auto;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        justify-content: center;
        align-items: center;
    }
}